.count10minute {
  display: flex;
}

.count10minute .clock2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count10minute .clock2 span {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  background: #FA2C5A;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  margin: 0 5px;
}