.e-ticket .bg {
  height: 164px;
  background: #F1F3FF;
}

.e-ticket .payment-nav {
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: -56px;
}

.e-ticket .payment-nav .back-button {
  display: flex;
  justify-content: left;
  align-items: center;
}

.e-ticket .payment-nav .back-button h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding-left: 16px;
}

.e-ticket .payment-nav h4 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding-left: 40px;
  letter-spacing: -0.8px;
}

.e-ticket .state-payment {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
  padding-top: 4px;
}

.e-ticket .state-payment .one,
.e-ticket .state-payment .two,
.e-ticket .state-payment .three {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #0D28A6;
  background: #0D28A6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-ticket .state-payment h5 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding-left: 8px;
}

.e-ticket .state-payment img {
  padding: 0 12px;
}

.e-ticket .ticket {
  width: 90%;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.e-ticket .ticket h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding-top: 16px;
}

.e-ticket .ticket h5 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8A8A8A;
  padding-top: 16px;
}

.e-ticket .ticket .print-ticket {
  width: 55%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 40px;
  padding: 24px;
}

.e-ticket .ticket .print-ticket .invoice-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-ticket .ticket .print-ticket .invoice-head .invoice-desc {
  text-align: left;
}

.e-ticket .ticket .print-ticket .invoice-head .invoice-desc h4 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.e-ticket .ticket .print-ticket .invoice-head .invoice-desc p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3C3C3C;
  letter-spacing: -1px;
  padding-top: 16px;
}

.e-ticket .ticket .print-ticket .invoice-head .download-btn {
  display: flex;
  width: 97px;
  padding: 8px 12px;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #0D28A6;
  border-radius: 2px;
  cursor: pointer;
}

.e-ticket .ticket .print-ticket .invoice-head .download-btn img {
  padding: 0;
}

.e-ticket .ticket .print-ticket .invoice-head .download-btn h4 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0D28A6;
}

.e-ticket .ticket .print-ticket .pdf-viewer {
  border: 1.8px dashed #D0D0D0;
  border-radius: 4px;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #EEEEEE;
}

@media (max-width:990px) {
  .e-ticket .ticket .print-ticket {
    width: 100%;
  }
}

@media (max-width:767px) {
  .e-ticket .bg {
    height: 200px;
  }

  .e-ticket .payment-nav {
    width: 100%;
    margin-top: -100px;
  }

  .e-ticket .state-payment {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}